header {
  margin: 20px auto;
  margin-left: 40px;
}

header a {
  color: goldenrod;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.notes-grid-container {
  display: grid;
  justify-items: center;
}

.note-entry {
  background-color: #fff;
  width: 250px;
  /* align-self: flex-start; */
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.note-entry p {
  white-space: pre-wrap;
}

.note-entry h3 {
  margin-top: 0;
}

.note-entry:hover {
  box-shadow: 0 1px 1px 1px lightgray;
  /* animation: running-light 0.6s infinite; */
}

.note-entry:focus {
  /* box-shadow: 0 1px 1px 1px gray; */
  animation: throw 0.8s forwards;
}

.form-wrapper {
  display: grid;
  margin: 30px auto;
  margin-bottom: 60px;
  width: 40vw;
}

.form-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form {
  position: relative;
  background-color: #fff;
  z-index: 1;
  padding: 10px 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px lightgray;
}

.input-wrapper {
  margin: 10px 10px;
  display: grid;
}

.input-wrapper input {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 15px;
  border: none;
}

.input-wrapper textarea {
  font-family: inherit;
  font-size: 1rem;
  resize: none;
  border: none;
}

.input-wrapper input:focus, textarea:focus {
  outline: none;
}

.input-btn-wrapper {
  height: 0px;
  display: grid;
  justify-items: center;
}

.input-btn-wrapper input:nth-of-type(1) {
  position: relative;
  top: -0.5rem;
  background-color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #fff;
  width: 40px;
  height: 40px;
}

.input-btn-wrapper input:nth-of-type(2) {
  background-color: orange;
  border: 1px solid orange;
  box-shadow: 2px 2px orange;
  margin-top: 20px;
  font-size: 1rem;
  width: 50%;
  display: grid;
  justify-self: center;
}

.input-btn-wrapper input:nth-of-type(3) {
  background-color: red;
  border: 1px solid red;
  box-shadow: 2px 2px maroon;
  margin-top: 20px;
  font-size: 1rem;
  width: 50%;
  display: grid;
  justify-self: center;
}

.input-btn-wrapper input:nth-of-type(1):hover {
  cursor: pointer;
}

@keyframes running-light {
  0% {
    box-shadow: 0 -2px yellow;
  }
  20% {
    box-shadow: 2px 0 red;
  }
  40% {
    box-shadow: 0 2px blue;
  }
  60% {
    box-shadow: -2px 0 green;
  }
}

@keyframes throw {
  0% {
    transform: translate(0, -100px);
  }
  40% {
    transform: translate(50px, -200px);
  }
  80% {
    transform: translate(50px, -400px);
  }
  100% {
    transform: translate(50px, -800px);
  }
}

.editor-wrapper {
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(128, 128, 128, 0.6);
  z-index: 2;
}

.editor {
  width: 30vw;
  z-index: 3;
}

.hidden {
  display: none;
}

.editor-btn-wrapper {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.editor-btn-wrapper input {
  font-weight: lighter;
  padding: 10px 20px;
  border-radius: 5px;
}

.editor-btn-wrapper input:hover {
  cursor: pointer;
}

.editor-btn-wrapper .editor-delete-btn {
  background: lightcoral;
  width: fit-content;
  justify-self: start;
  margin-bottom: 0;
}

.editor-btn-wrapper .editor-done-btn {
  width: fit-content;
  justify-self: end;
  margin-bottom: 0;
}


@media only screen and (max-width:900px) {
  .App h1 {
    margin-left: 30px;
  }
  
  .notes-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 90%;
    margin: 0 auto;
    justify-items: center;
  }

  .form-wrapper {
    display: grid;
    margin: 30px auto;
    margin-bottom: 60px;
    width: 80vw;
  }
  
  .editor {
    width: 90vw;
  }

  .form {
    box-shadow: none;
  }
}
